<h2>
	<i class="fa fa-search"></i>
	<span ng-bind="'contacts.liste.titre' | translate "></span>
</h2>
<br>
<div class="row">
	<div class="col-sm-3">
		<input class="form-control" type="text" ng-model="searchBox" 
			placeholder="{{ 'global.searchBox.placeholder' | translate }}">
	</div>
</div>
<br>
<div class="row">
	<ul class="animated fadeIn">
    <li ng-repeat="person in contacts.getListe() | filter : {name : searchBox } track by person.id">
        <a ng-href="/contacts/{{person.id}}" ng-bind="person.name"></a>
    </li>
	</ul>
</div>