<nav class="navbar navbar-default navbar-static-top">
  <!-- /.navbar-header en mode mobile burger -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" ng-click="collapse=!collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" ui-sref="home">FunApp</a>
  </div>
  <!-- sidebar -->
  <div class="navbar-default sidebar">
    <div class="sidebar-nav navbar-collapse">
      <ul class="nav">
        <li>TEST 1</li>
        <li>TEST 2</li>
        <li>TEST 3</li>
        <li>TEST 4</li>
      </ul>
    </div>
  </div>
</nav>